// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: rgb(249, 249, 249);

$body-gray: #C4C4C4;
$main-green: #3AAFA9;
$dark-green: #2B7A78;
$light-green: #DEF2F1;
$black-green: #253C44;
$dark-gray: #565656;
