<p>Hi <%= @guest.name %>,</p>

  <p>Your friends need your second (and last ;)) vote for <strong>"<%= @guest.event.name %>"</strong> organization, on <strong>Buddy'nGo</strong> :)</p>

<%= link_to edit_event_guest_answer_url(@guest.event, @guest, @answer_guest) do %>
  <strong>Click here to vote!</strong>
<% end %>
<p>See ya!</p>
