<p>Hi <%= @guest.name %>,</p>

<p>Your friends need your vote for <strong>"<%= @guest.event.name %>"</strong> organization, on <strong>Buddy'nGo</strong>!</p>

<p>Clink on this link to <strong>vote :</strong></p>

<p>See ya!</p>
