#pointer1 {
      width: 98%;
      height: 40px;
      position: relative;
      background: #3AAFA9;
    }
    #pointer1:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 20px solid #f9f9f9;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
    }
    #pointer1:before {
      content: "";
      position: absolute;
      right: -20px;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 20px solid #3AAFA9;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
    }

#pointer2 {
      width: 98%;
      height: 40px;
      position: relative;
      background: #DEF2F1;
    }
    #pointer2:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 20px solid #f9f9f9;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
    }
    #pointer2:before {
      content: "";
      position: absolute;
      right: -20px;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 20px solid #DEF2F1;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
    }

#pointer3 {
      // display: flex; /* contexte sur le parent */
      // flex-direction: column; /* direction d'affichage verticale */
      // justify-content: center;
      width: 98%;
      height: 40px;
      position: relative;
      background: #DEF2F1;
    }
    #pointer3:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 20px solid #f9f9f9;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
    }
    #pointer3:before {
      content: "";
      position: absolute;
      right: -20px;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 20px solid #DEF2F1;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
    }

#step1 {
  color: white;
  font-size: 28px;
  font-family: $citation-font;
}
#step2 {
  color: #565656;
  font-size: 28px;
  font-family: $citation-font;
}
#step3 {
  color: #565656;
  font-size: 28px;
  font-family: $citation-font;
}
#nameEvent {
  color: $dark-green;
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: $citation-font;
}

.btn-close {
  color: white;
  background-color: #17252A;
  text-align: center;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 20px;
  transition: box-shadow 0.2s ease;
  font-size: 30px;
  font-family: $citation-font;
  &:hover {
    box-shadow: 0 0 10px rgb(100, 100, 100);
    color: #3AAFA9;
  }
  &:focus {
   color: #3AAFA9;
  }
}
