#pointer1 {
      width: 98%;
      height: 40px;
      position: relative;
      background: #3AAFA9;
    }
    #pointer1:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 20px solid #f9f9f9;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
    }
    #pointer1:before {
      content: "";
      position: absolute;
      right: -20px;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 20px solid #3AAFA9;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
    }

#pointer2 {
      width: 98%;
      height: 40px;
      position: relative;
      background: #DEF2F1;
    }
    #pointer2:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 20px solid #f9f9f9;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
    }
    #pointer2:before {
      content: "";
      position: absolute;
      right: -20px;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 20px solid #DEF2F1;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
    }

#pointer3 {
      // display: flex; /* contexte sur le parent */
      // flex-direction: column; /* direction d'affichage verticale */
      // justify-content: center;
      width: 98%;
      height: 40px;
      position: relative;
      background: #DEF2F1;
    }
    #pointer3:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 20px solid #f9f9f9;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
    }
    #pointer3:before {
      content: "";
      position: absolute;
      right: -20px;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 20px solid #DEF2F1;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
    }

#step1 {
  color: white;
  font-size: 28px;
  font-family: $citation-font;
}
#step2 {
  color: #565656;
  font-size: 28px;
  font-family: $citation-font;
}
#step3 {
  color: #565656;
  font-size: 28px;
  font-family: $citation-font;
}

#pointer12 {
      width: 98%;
      height: 40px;
      position: relative;
      background: #DEF2F1;
    }
    #pointer12:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 20px solid #f9f9f9;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
    }
    #pointer12:before {
      content: "";
      position: absolute;
      right: -20px;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 20px solid #DEF2F1;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
    }

#pointer22 {
      width: 98%;
      height: 40px;
      position: relative;
      background: #3AAFA9;
    }
    #pointer22:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 20px solid #f9f9f9;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
    }
    #pointer22:before {
      content: "";
      position: absolute;
      right: -20px;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 20px solid #3AAFA9;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
    }

#pointer32 {
      // display: flex; /* contexte sur le parent */
      // flex-direction: column; /* direction d'affichage verticale */
      // justify-content: center;
      width: 98%;
      height: 40px;
      position: relative;
      background: #DEF2F1;
    }
    #pointer32:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 20px solid #f9f9f9;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
    }
    #pointer32:before {
      content: "";
      position: absolute;
      right: -20px;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 20px solid #DEF2F1;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
    }

#step12 {
  color: #565656;
  font-size: 28px;
  font-family: $citation-font;
}
#step22 {
  color: white;
  font-size: 28px;
  font-family: $citation-font;
}
#step32 {
  color: #565656;
  font-size: 28px;
  font-family: $citation-font;
}

#pointer13 {
      width: 98%;
      height: 40px;
      position: relative;
      background: #DEF2F1;
    }
    #pointer13:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 20px solid #f9f9f9;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
    }
    #pointer13:before {
      content: "";
      position: absolute;
      right: -20px;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 20px solid #DEF2F1;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
    }

#pointer23 {
      width: 98%;
      height: 40px;
      position: relative;
      background: #DEF2F1;
    }
    #pointer23:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 20px solid #f9f9f9;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
    }
    #pointer23:before {
      content: "";
      position: absolute;
      right: -20px;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 20px solid #DEF2F1;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
    }

#pointer33 {
      // display: flex; /* contexte sur le parent */
      // flex-direction: column; /* direction d'affichage verticale */
      // justify-content: center;
      width: 98%;
      height: 40px;
      position: relative;
      background: #3AAFA9;
    }
    #pointer33:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 20px solid #f9f9f9;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
    }
    #pointer33:before {
      content: "";
      position: absolute;
      right: -20px;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 20px solid #3AAFA9;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
    }

#step13 {
  color: #565656;
  font-size: 28px;
  font-family: $citation-font;
}
#step23 {
  color: #565656;
  font-size: 28px;
  font-family: $citation-font;
}
#step33 {
  color: white;
  font-size: 28px;
  font-family: $citation-font;
}

#nameEvent {
  color: $dark-green;
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: $citation-font;
}

.btn-close {
  color: white;
  background-color: $black-green;
  text-align: center;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 20px;
  transition: box-shadow 0.2s ease;
  font-size: 30px;
  font-family: $citation-font;
  &:hover {
    box-shadow: 0 0 10px rgb(100, 100, 100);
    // color: #3AAFA9;
    background-color: $dark-green;
  }
  &:focus {
   color: #3AAFA9;
  }
}

.btn-close a {
  color: white;
  text-decoration: none;
}

.titledash {
  text-align: center;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: bold;
  color: $dark-green;
  font-family: $citation-font;
}

.steps {
  margin-bottom: 10px;
}

.status-guest-list {
  background-color: $light-green;
  border-radius: 5px;
}

.summary h6 {
  color: $dark-green;
  font-size: 28px;
  font-family: $citation-font;
}

.summarycont {
  background-color: $light-green;
  border-radius: 5px;
  padding-left: 0px;
  padding-top: 50px;
  height: 500px;
  margin: 20px;
  margin-left: 5px;
}

.mini-img-theme {
  height: 100px;
}

.destsentence {
  text-align: center;
  margin-bottom: 0px;
  font-size: 32px;
  font-weight: bold;
  color: $dark-green;
  font-family: $citation-font;
}

.summarycont h6 {
  color: $dark-green;
  font-size: 28px;
  font-family: $citation-font;
}

.guestborder {
  border: 2px solid $light-green;
  border-radius: 5px;
  padding: 10px;
  height: 500px;
}

.statisticborder {
  border: 2px solid $light-green;
  border-radius: 5px;
  padding: 10px;
  height: 500px;
}
.maintitle {
  color: $dark-green;
  font-size: 38px;
  font-family: $citation-font;
}

.dashtitle3 {
  color: $dark-green;
  font-size: 32px;
  font-family: $citation-font;
  font-weight: bold;
}
.dashtitle4 {
  color: $dark-green;
  font-size: 28px;
  font-family: $citation-font;
}
.endinfo {
  border: 2px solid $light-green;
  border-radius: 5px;
  padding: 10px;
  padding-left: 0px;
  height: 500px;
  margin-top: 20px;
  margin-left: -20px;
}

.brandlogo {
  margin: -20px;
}
