<div class="banner">
  <div class="container">
    <h1>Life is too short to spoil a weekend to plan holidays</strong>!</h1>
    <p>Find the best compromise to organize a weekend taking into account invitees constraints</p>
    <a class="btn btn-action" href="#">Plan your trip</a>
  </div>
</div>
