<div class="banner">
  <div class="container">
    <h1>Life is too short to spoil a weekend to plan holidays</strong>!</h1>
    <p>Find the best compromise to organize a weekend taking into account invitees constraints</p>
    <a href="" class="btn btn-action" data-toggle="modal" data-target="#modalNewEvent">
      Plan your trip
    </a>
  </div>
  <!-- changer le render avec events/formthemechoice pour test form theme-->
  <%= render 'events/formnewevent' %>
</div>


