<div class="banner">
  <div class="container">
    <h1>Life's too short to spoil weeks to plan groups holidays</strong>!</h1>
    <p>It's' never been easier to agree on dates, budgets and destination choices with your friends</p>
    <a href="" class="btn btn-action" data-toggle="modal" data-target="#modalNewEvent">
      Plan your next trip
    </a>
  </div>
  <!-- changer le render avec events/formthemechoice pour test form theme-->
  <%= render 'events/formnewevent' %>
</div>


