<div class="banner">
  <div class="container">
    <h1>Life's too short to spoil weeks to plan groups holidays</strong>!</h1>
    <p>It's' never been easier to agree on dates, budgets and destination choices with your friends</p>
    <% if user_signed_in? %>
      <a href="" class="btn btn-action" data-toggle="modal" data-target="#modalNewEvent">
        Plan your next trip
      </a>
    <% else %>
      <a href="" class="btn btn-action" data-toggle="modal" data-target="#modalLoginForm">
        Plan your next trip
      </a>
    <% end %>
  </div>

  <%= render 'events/formnewevent' %>
  <%= render 'users/loginform' %>
</div>


