<div class="banner">
  <div class="container">
    <h1>Life is too short to spoil a weekend to plan holidays</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-action" href="#">Apply now</a>
  </div>
</div>
