<div class="banner">
  <div class="container">
    <h1 id="title">Get the fun out of your buddies!</br>
    Only the fun.</h1>
    <p> </p>
    <% if user_signed_in? %>
      <a href="" class="btn btn-action" data-toggle="modal" data-target="#modalNewEvent">
        Plan your next trip with them
      </a>
    <% else %>
      <a href="" class="btn btn-action" data-toggle="modal" data-target="#modalLoginForm">
        Plan your next trip with them
      </a>
    <% end %>
  </div>

  <%= render 'events/formnewevent' %>
  <%= render 'users/loginform' %>
</div>


