<div class="container-fluid dashboard">
  <div class="row steps">
    <div class="col-xs-12 col-sm-4 step">
      <p>Step 1</p>
    </div>
    <div class="col-xs-12 col-sm-4 step">
      <p>Step 2</p>
    </div>
    <div class="col-xs-12 col-sm-4 step">
      <p>Step 3</p>
    </div>
  </div>

  <% if event.step == 1 %>
    <div class="row core-dashboard">
      <div class="col-xs-12 col-sm-8 votes-dashboard">
        <div class="row">
          <div class="col-xs-12 col-sm-6 date-vote">
            <p>Dynamic Dates votes view</p>
            <canvas id="myChart" width="400" height="200" data-dates="3-4-7-8" ></canvas>
          </div>
          <div class="col-xs-12 col-sm-6 theme-vote">
            <p>Dynamic Themes votes view</p>
            <canvas id="myChart2" width="400" height="200" data-themes="5-6-5-8" ></canvas>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 budget-vote">
            <p>Current average budget voted : XX €</p>
            <canvas id="myChart3" width="200" height="100" data-budgets="3-4-7-8" ></canvas>
          </div>
        </div>

      <div class="col-xs-12 col-sm-4 guests-dashboard">
        <p>Guests list</p>
          <li>
            Guests here
          </li>
        </ul>
        <p>Here: btn send email/sms</p>
      </div>
    </div>
  <% elsif event.step == 2 %>
    <p>Dashboard grid step 2</p>
  <% elsif event.step == 3 %>
    <p>Dashboard grid step 3</p>
  <% else %>
    <p>Your event in close</p>
  <% end %>
</div>

