<div class="container-fluid dashboard">
  <h1 class="text-center" id="nameEvent"><%= event.name %></h1>
  <div class="row steps">
    <br>
    <div class="col-xs-4 col-sm-4 step">
      <div id="pointer1">
        <p class="text-center" id="step1">Step 1</p>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 step">
      <div id="pointer2">
        <p class="text-center" id="step2">Step 2</p>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 step">
      <div id="pointer3">
        <p class="text-center" id="step3">Step 3</p>
      </div>
    </div>
  </div>

  <% if event.step == 1 %>
    <div class="row core-dashboard">
      <div class="col-xs-12 col-sm-9 votes-dashboard">
        <div class="row">
          <div class="col-xs-12 col-sm-6 date-vote">
            <p class="text-center">Dynamic Dates votes view</p>
            <canvas id="myChart" width="400" height="180" data-dates="3-4-7-2-8" ></canvas>
          </div>
          <div class="col-xs-12 col-sm-6 theme-vote">
            <p class="text-center">Dynamic Themes votes view</p>
            <canvas id="myChart2" width="400" height="180" data-themes="5-6-5-8" ></canvas>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 budget-vote">
            <p class="text-center">Current average budget voted : XX €</p>
            <canvas id="myChart3" width="200" height="40" data-budgets="3-4-7-8" ></canvas>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-3 guests-dashboard">
        <p>Guests list</p>
        <% @event.guests.each do |guest| %>
          <ul class="list-inline status-guest-list">
            <li><%= guest.name %></li>
            <% if guest.status == 0 %>
              <li class="status-pending"><%= "Pending"  %></li>
            <% elsif guest.status == 1 %>
              <li class="status-voted"><%= "Voted" %></li>
            <% end %>
          </ul>
        <% end %>
        <div class="btn-action-black-green">Close</div>
      </div>
    </div>
  <% elsif event.step == 2 %>
    <p>Dashboard grid step 2</p>
  <% elsif event.step == 3 %>
    <p>Dashboard grid step 3</p>
  <% else %>
    <p>Your event in close</p>
  <% end %>
</div>

