

<div id="spinner-wrapper" class="text-center spinner-hidden">
  <div class="lds-roller" ><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  <p id="textspinner">Fetching some destinations...</p>
</div>
