
<div class="container">
  <div id="spinner-wrapper" class="text-center spinner-hidden">
    <div class="lds-roller" ><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    <p id="textspinner">Launching search algos...</p>
  </div>
</div>
