

<div class="container-fluid">
  <h1>My events</h1>

  <!-- tabs row -->
  <div class="row">
    <div class="tabs">
      <a href="#" class="tab">TEST</a>
      <a href="#" class="tab">TEST</a>
      <% @myevents.each do |event| %>
        <a href="#" class="tab">event.name</a>
      <% end %>
      <a href="#" class="tab"><i class="fas fa-plus"></i> Plan a new event</a>
    </div>
  </div>

  <!-- Current event dashboard row -->
  <div class="row">

  </div>

</div>
