<%= simple_form_for [event, guest, answer] do |f| %>

  <h5 class="text-center">Rank these destinations by order of preference:</h5>

  <input class="form-control  hidden" required="required" aria-required="true" type="text" step="1" name="answer[destination_ranking]" id="answer_destination_ranking">

  <div id="simpleList2" class="list-group">
    <% Choice.all.select { |choice| choice.poll_id == Poll.find_by(event_id: @event.id).id && choice.choice_type == "destination"}.each do |choice| %>
      <div data-id="<%= choice.id %>" class="list-group-item choice-theme"><%= choice.destination.name %></div>
    <% end %>
  </div>

  <div class="update-answer-action">
    <%= f.submit "Submit your answer", id: "dirty-button2", class: "btn btn-action-black-green" %>
  </div>

<% end %>
