<%= render 'shared/navbarhome' %>
<%= render 'shared/banner' %>
<% raise %>
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<br>
<p>When user logged : </p>
<%= link_to 'my events', events_path, class: 'btn btn-primary' %>

