<%= render 'shared/banner' %>
<div class="wrapper">
  <div class="container home-args">
    <h2>The collaborative decision-making way</h2>
    <div class="all-arguments">
      <div class="argument">
        <%= image_tag 'arg1-whistle.png', class:"img-home"%>
        <h3>Create your event</h3>
        <p>Set up your event, choose destinations types and suggest dates</p>
      </div>
      <div class="argument">
        <%= image_tag 'arg2-invit.png', class:"img-home"%>
        <h3>Invite your friends</h3>
        <p>Indicate your friends emails and/or phone numbers so even the laziest of them will be able to indicate his preferences</p>
      </div>
      <div class="argument">
        <%= image_tag 'arg3-finger.png', class:"img-home"%>
        <h3>Let the magic happen</h3>
        <p>Get automatically the best dates compromise and destinations ideas based on your friends preferences!</p>
      </div>
    </div>
    <a href="" class="btn btn-action" data-toggle="modal" data-target="#modalNewEvent">
        Plan your next trip
      </a>
    <br>
    <br>
  </div>
</div>
