<%= render 'shared/banner' %>

<div class="container">
  <h1>Title for awesome arguments</h1>
  <br>
  <ul>
    <li>Reason 1 to use our App</li>
    <li>Reason 2 to use our App</li>
    <li>Reason 3 to use our App</li>
  </ul>
  <br>
</div>



