<%= render 'shared/banner' %>

<div class="container">
  <h2></h2>
  <div class="3arguments">
    <div class="argument">
      <img src="" alt="">
      <h3></h3>
      <p></p>
    </div>
    <div class="argument">
      <img src="" alt="">
      <h3></h3>
      <p></p>
    </div>
    <div class="argument">
      <img src="" alt="">
      <h3></h3>
      <p></p>
    </div>
  </div>
</div>



