.wrapper1 {
  background-color: #C4C4C4;
  padding-top: 20px;
  padding-bottom: 20px;
}

.answer-form-1 {
  background-color: white;
  min-height: calc(100vh - 210px);
  border-color: #565656;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding-bottom: 30px;
}

.answer-form-1 h2 {
  color: #2B7A78;
  font-weight: bold;
  font-family: $citation-font;
}

.fas.fa-check.green {
  color: #2B7A78;
}

.fas.fa-hourglass-half.red {
  color: #C10D06;
}

.answer-form-1 h5 {
  color: #17252A;
  font-weight: bold;
}

.form-control-label label {
  color: red;
}

.answer-form-1 p {
  color: #565656;
}

.list-group-item.choice-date {
  font-weight: 100;
  cursor: pointer;
  &:hover {
    background-color: #DEF2F1;
    color: #565656;
  }
  &.active {
    background: #3AAFA9;
    color: white;
    border-color: lightgrey;
  }
}

.list-group-item.choice-theme {
  cursor: pointer;
}
