.carddate {
  color: $main-green;
  background-color: white;
  border: 1px $main-green solid;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  position: relative;
}

.selecteddates {
  display: flex;
  justify-content: space-around;
}

.selectedguests {
  display: flex;
  justify-content: space-around;
}

#link-delete {
  position: absolute;
  top: -15px;
  right: -13px;
  color: #FF3A20;
  font-size: 20px;
  :hover {
    text-decoration: none;
    color: #FF3A20;
  }
}
