.theme-choice {
  background: $light-green;
  padding: 10px;
  border-radius: 5px;
  opacity: .7;
  flex: 0 0 30%;
  text-align: center;
  margin: 25px 10px;
  min-height: 190px;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
    background: $main-green;
    color: white;
    opacity: 1;
  }
}

.img-theme {
  width: 100%;
}
