.dates-title {
  font-weight: bold !important;
  font-size: 20px !important;
  color: black !important;
  text-shadow: none !important;
  margin: 0 !important;
  padding: O !important;

}
h1 {
color:red
}

.flatpickr-calendar {
  z-index: 100000000000 !important;
}
