.lds-roller {
  display: inline-block;
  position: relative;
  width: 256px;
  height: 256px;
  margin-top: 150px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 128px 128px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: $main-green;
  margin: -6px 0 0 -6px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 200px;
  left: 200px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 216px;
  left: 180px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 228px;
  left: 156px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 232px;
  left: 128px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 228px;
  left: 100px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 216px;
  left: 76px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 200px;
  left: 56px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 180px;
  left: 40px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner-hidden{
  position: absolute;
  top:0;
  opacity: 0;
}

#textspinner {
  font-family: $citation-font;
  color: $dark-green;
  font-size: 30px;
}

