.status-pending {
  background-color: #FF3A20;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: $citation-font;
  width: 80px;
  text-align: center;
  font-weight: thin;
  box-shadow: 0 0 2px rgb(100, 100, 100);
}

.status-voted {
  background-color: $main-green;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: $citation-font;
  width: 80px;
  text-align: center;
  font-weight: thin;
  box-shadow: 0 0 2px rgb(100, 100, 100);
}

.list-inline {
  padding: 0;
}

.status-guest-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
